[user]
	name = Keisuke SATO
	email = riafweb@gmail.com
[core]
	excludesfile = $HOME/.gitignore
	editor = vim
	pager = less
[github]
	user = riaf
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
[alias]
	st = status
	up = pull --rebase
	ci = commit -a
[redmine]
	apiKey = 1146ae7ffcea25777d6ee7cc6ec08d8b7433705d
