[submodule ".zsh/git-flow-completion"]
	path = .zsh/git-flow-completion
	url = git://github.com/bobthecow/git-flow-completion.git
[submodule ".vim/neobundle"]
	path = .vim/neobundle
	url = git://github.com/Shougo/neobundle.vim.git
[submodule "vendor/cdd"]
	path = vendor/cdd
	url = git://github.com/m4i/cdd.git
