[user]
	name = Keisuke SATO
	email = riaf@me.com
[core]
	excludesfile = ~/.gitignore
	editor = vim
	pager = less
[github]
	user = riaf
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
[alias]
	st = status -sb
	up = pull --rebase
	ci = commit -a
	wd = diff --word-diff
	lg = log --graph --pretty=oneline --decorate --date=short --abbrev-commit --branches
	edit-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; vim `f`"
